body {
    padding: 0;
    margin: 0;
    background: red;
}
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 100px;
    left: 350px;
    width: 520px;
    height: 270px;
    border: 3px solid;
    border-radius: 10px;
    background: silver;
}
.wrapper {
    display: grid;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 120px;
    margin-left: 170px;
}
.header {
    margin-top: 150px;
    margin-bottom: 15px;
    margin-right: 250px;
    color: black;
}
.title {
    margin-right: 500px;
    margin-bottom: 25px;
    font-size: 30px;
    color: #090909;
}
.item {
    margin-right: 500px;
    margin-bottom: 30px;
    font-size: 30px;
    color: #090909;
}
.btn {
    margin-right: 500px;
    margin-bottom: 25px;
    background: #afaeae;
    color: #090909;
    font-size: 20px;
    border-radius: 10px;
}
.btn:hover {background-color: #3e8e41}

.btn:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}